*{
    margin: 0;
    padding: 0;
    }
    body{
        background-color: transparent;
        box-shadow: 8px 8px 80px black;
    }
    html{
        user-select: none;
    }
    .area{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .Box{
        transform: skewX(2deg);    
        background-color: rgba(83, 83, 83, 0.69);
        width: 1250px;
        height: 680px;
        border: solid 5px rgba(78, 78, 78, 0.589);
        box-shadow: 8px 8px 80px rgb(59, 59, 59); 
        transform-box: skewX(-2deg);
        color: white;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    .contentBox{
        color: white;
        text-transform: uppercase;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        transform: skewX(2deg);
        padding-left: 40px;
        
    }
    .contentBox h1{
        padding: 2rem;
    }
    li{
        display: inline;
    }
    ul{
        display: table; 
        margin: 0 auto;
    }
    h2{
        font-size: 20px;
        color: rgba(0, 0, 0, 0.60);
    }
    .Logo{
        margin-left: 35%;
        margin-top: -5%;
        opacity: 0.5;
    }
    .input-fields{
        position: absolute;
        display: flex;
        top: 100px;
        left: 30%;
        transform: translateY(-50%);
        width: 100%;
        padding: 0 20px;
        width: 48%;
    }
    
    .input-fields .input{
        margin: 10px 0;
        background: transparent;
        border: 0;
        border-bottom: 2px solid rgba(83, 83, 83, 0.69);
        color: rgba(12, 12, 12, 0.69);;
        width: 100%;
    }
    
    ::-webkit-input-placeholder{
        color: rgba(29, 29, 29, 0.69);;
    }
    ::-moz-input-placeholder{
        color: rgba(83, 83, 83, 0.69);;
    }
    ::-ms-input-placeholder{
        color: rgba(83, 83, 83, 0.69);;
    }
    
    .btn{
        background: rgba(83, 83, 83, 0.69);;
        text-align: center;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
    }
    ul{
        display: table; 
        margin: 0 auto;
    }
    button{
        border-radius: 5px;
        background-color: rgb(78, 78, 78, 0.589);
        color: white;
        border: none;
        width: 150px;
        padding: 5px;
        font-family: 'Roboto', sans-serif;
        margin-right: 15px;
        border: solid 2px black;
        margin-top: 100px;
    }
    button:hover{
        border: 1px solid white;
    }
    li{
        display: inline;
    }
	#closeBTN{
		position: absolute;
        margin-top: -2.5%;
        right: 0%;
    }
    